.password-manager-page {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.password-manager-page h2 {
  margin-bottom: 20px;
}

.password-manager-page form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password-manager-page .password-list {
  list-style: none;
  padding: 0;
}

.password-manager-page .password-list li {
  display: flex;
  flex-direction: column; 
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.password-manager-page .password-details,
.password-manager-page .password-values {
  display: flex;
  justify-content: space-between;
}

.password-manager-page .password-actions {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.password-manager-page .password-actions button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 3px 5px; 
  font-size: 0.7rem; 
  margin: 2px; 
}

.password-manager-page .password-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #3498db;
  text-decoration: underline;
  padding: 3px;
  font-size: 0.8rem;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .password-manager-page {
    padding: 10px;
    margin: 20px auto;
  }

  .password-manager-page form input,
  .password-manager-page form button {
    width: 100%; 
    margin-bottom: 5px;
  }

  .password-manager-page .password-list li {
    flex-direction: row;
    align-items: center;
  }

  .password-manager-page .password-details,
  .password-manager-page .password-values {
    flex-direction: column;
    align-items: start;
  }

  .password-manager-page .password-values .last-updated {
    align-self: end;
    font-size: 0.7rem;
  }

  .password-manager-page .password-actions {
    flex: 1 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-top: 5px;
  }

  .password-manager-page .password-actions button {
    font-size: 0.65rem; 
    padding: 2px 4px; 
  }
}
