.password-manager-page {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.password-manager-page h2 {
  margin-bottom: 20px;
}

.password-manager-page form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password-manager-page .password-list {
  list-style: none;
  padding: 0;
}

.password-manager-page .password-list li {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.password-manager-page .password-info {
  display: flex;
  flex-wrap: wrap; /* Allows for wrapping if not enough space */
  margin-bottom: 5px; /* Space between password info and actions */
}

.password-manager-page .password-info span {
  margin-right: 10px; /* Spacing between labels */
  white-space: nowrap; /* Prevents wrapping within label-value pairs */
}

.password-manager-page .password-actions {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
}

.password-manager-page .password-actions button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 3px 5px; 
  font-size: 0.7rem; 
  margin: 2px; 
}

.password-manager-page .password-toggle {
  background: none;
  border: none;
  cursor: pointer;
  color: #3498db;
  text-decoration: underline;
  padding: 3px;
  font-size: 0.8rem;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .password-manager-page {
    padding: 10px;
    margin: 20px auto;
  }

  .password-manager-page form input,
  .password-manager-page form button {
    width: 100%; 
    margin-bottom: 5px;
  }

  .password-manager-page .password-list li {
    flex-direction: column; /* Adjusts layout for smaller screens */
  }

  .password-manager-page .password-info {
    flex-direction: column; /* Stacks info vertically on small screens */
  }

  .password-manager-page .password-actions {
    flex-direction: column; /* Stacks buttons vertically on small screens */
  }
}

